NEXT_PUBLIC_SUPABASE_URL=https://aljycybkwxjywzaipmjw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Q7hJe-L-LZ-BmAVsCxDyDA_L-YHA9MK
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Q7hJe-L-LZ-BmAVsCxDyDA_L-YHA9MK

# Add this manually from Supabase Dashboard > Project Settings > API.
# Never expose this on the client.
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000
